<h2 class="text-center"> Entrar</h2>

<form (ngSubmit)="onSubmit()" #form="ngForm">
<div class="form-group">
  <label>Email</label>
  <input class="form-control" type="email" placeholder="Email" name="email" id="email" [(ngModel)]="login.email" requi
    required>
</div>

<div class="form-group">
  <label>Senha</label>
  <input class="form-control" type="password" placeholder="password" name="password" id="password" [(ngModel)]="login.password"
    required>
</div>

<button type="submit" class="btn btn-primary btn-block" [disabled]="form.form.invalid">Entrar</button>
<button type="button" class="btn btn-link btn-block" [routerLink]="['/create-account']">Criar conta</button>
</form>
