
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <!-- <link rel="stylesheet" href="node_modules/@fortawesome/fontawesome-free/css/all.css"> -->
</head>
<body>
<form id="msform">
  <!-- progressbar -->
  <ul id="progressbar">
    <li class="active">DADOS DO PROJETO</li>
    <li>DADOS PESSOAIS</li>
    <li>INFORMAÇÕES DE SAÚDE</li>
    <li>QUESTIONÁRIO</li>
  </ul>
  <!-- fieldsets -->
  <fieldset [formGroup]="FormGroup">
    <h2 class="fs-title">DADOS DO PROJETO</h2>
    <h3 class="fs-subtitle">This is step 1</h3>
    <div class="col-md-12">
      <input type="text" formControlName="pais" name="pais" placeholder="Pais" />
      <div class="required "*ngIf="(FormGroup.controls['pais'].dirty || FormGroup.controls['pais'].touched)">
        <span  *ngIf="FormGroup.controls.pais.errors">
          Pais obrigatório
        </span>
      </div>
    </div>
    <div class="col-md-12">
    <input type="text" formControlName="projeto" name="projeto" placeholder="Projeto" />
    <div class="required" style="margin-bottom: 5px" *ngIf="(FormGroup.controls['projeto'].dirty || FormGroup.controls['projeto'].touched)">
      <label  *ngIf="FormGroup.controls.projeto.errors">
        Projeto obrigatório
      </label>
    </div>
  </div>

    <input class="col-md-4" type="date" formControlName="data" name="data" />
    <div style="margin-bottom: 5px" *ngIf="(FormGroup.controls['data'].dirty || FormGroup.controls['data'].touched)">
      <span class="required col-md-2" style="width: 110px;" *ngIf="FormGroup.controls.data.errors">
        Data obrigatória
      </span>
    </div>
      <select class="col-md-5" formControlName="qtdSemana" class="form-control">
        <option value="" selected disabled>Por quantas semanas você deseja voluntariar?</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10 ou mais</option>
      </select>
      <div style="margin-bottom: 5px" *ngIf="(FormGroup.controls['qtdSemana'].dirty || FormGroup.controls['qtdSemana'].touched)">
        <span class="required" *ngIf="FormGroup.controls.qtdSemana.errors">
          Campo obrigatório
        </span>
      </div>

      <input type="button" name="next" class="next action-button" (click)="postar()" value="Next" />

  </fieldset>



  <fieldset [formGroup]="FormDadosPessoais">
    <h2 class="fs-title">DADOS PESSOAIS</h2>
    <h3 class="fs-subtitle">Your presence on the social network</h3>


    <div class="col-md-12">
      <div class="col-md-4 mr-4">
        <input type="text" formControlName="nome" name="nome" placeholder="Nome" />
        <div class="required "*ngIf="(FormDadosPessoais.controls['nome'].dirty || FormDadosPessoais.controls['nome'].touched)">
          <span  *ngIf="FormDadosPessoais.controls.nome.errors">
            Nome obrigatório
          </span>
        </div>
      </div>
      <div class="col-md-3 mr-4">
        <select class="col-md-5" formControlName="sexo" class="form-control">
          <option value="" selected disabled>Sexo</option>
          <option value="M">Masculino</option>
          <option value="F">Feminino</option>
          <option value="O">Outros</option>
        </select>
        <div class="required "*ngIf="(FormDadosPessoais.controls['sexo'].dirty || FormDadosPessoais.controls['sexo'].touched)">
          <span  *ngIf="FormDadosPessoais.controls.sexo.errors">
            Sexo obrigatório
          </span>
        </div>
      </div>
      <div class="col-md-4">
        <input type="text" formControlName="cpf" name="cpf" class="cpf-mask" placeholder="CPF"/>
        <div class="required "*ngIf="(FormDadosPessoais.controls['cpf'].dirty || FormDadosPessoais.controls['cpf'].touched)">
          <span  *ngIf="FormDadosPessoais.controls.cpf.errors">
            CPF obrigatório
          </span>
        </div>

      </div>
    </div>





    <div class="col-md-12 mb-3">
      <div class="col-md-4 mr-4">
        <input type="date" formControlName="dataNascimento" name="dataNascimento" placeholder="Data de Nascimento" />
        <div class="required "*ngIf="(FormDadosPessoais.controls['dataNascimento'].dirty || FormDadosPessoais.controls['dataNascimento'].touched)">
          <span  *ngIf="FormDadosPessoais.controls.dataNascimento.errors">
            Data de Nascimento é obrigatório
          </span>
        </div>
      </div>
      <div class="col-md-3 mr-4">
        <input type="text" name="cel" formControlName="cel" placeholder="+ () Celular" id="phone" />
        <label>*Lembre-se de incluir o código do país e o código de área</label>
        <div class="required "*ngIf="(FormDadosPessoais.controls['cel'].dirty || FormDadosPessoais.controls['cel'].touched)">
          <span  *ngIf="FormDadosPessoais.controls.cel.errors">
            Celular obrigatório
          </span>
        </div>
      </div>
      <div class="col-md-4">
        <input type="text" name="telefone" formControlName="telefone" placeholder="+ () Telefone" id="phone" />
        <label>*Lembre-se de incluir o código do país e o código de área</label>
        <div class="required "*ngIf="(FormDadosPessoais.controls['telefone'].dirty || FormDadosPessoais.controls['telefone'].touched)">
          <span  *ngIf="FormDadosPessoais.controls.telefone.errors">
            Telefone obrigatório
          </span>
        </div>
      </div>
    </div>


    <div class="col-md-12">
      <div class="col-md-6 mr-5">
        <input type="text" name="email" formControlName="email" placeholder="Email" />
        <div class="required "*ngIf="(FormDadosPessoais.controls['email'].dirty || FormDadosPessoais.controls['email'].touched)">
          <span  *ngIf="FormDadosPessoais.controls.email.errors">
            Email obrigatório
          </span>
        </div>
      </div>
      <div class="col-md-5">
        <input type="text" name="profissao" formControlName="profissao" placeholder="Profissão" id="profissao" />
        <div class="required "*ngIf="(FormDadosPessoais.controls['profissao'].dirty || FormDadosPessoais.controls['profissao'].touched)">
          <span  *ngIf="FormDadosPessoais.controls.profissao.errors">
            Profissão obrigatório
          </span>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="col-md-4 mr-4">
        <input type="text" name="instagram"  formControlName="instagram" placeholder="Instagram" id="instagram" />
        <div class="required "*ngIf="(FormDadosPessoais.controls['instagram'].dirty || FormDadosPessoais.controls['instagram'].touched)">
          <span  *ngIf="FormDadosPessoais.controls.instagram.errors">
            Instagram obrigatório
          </span>
        </div>
      </div>
      <div class="col-md-3 mr-4">
        <input type="text" name="camiseta" formControlName="tamanhoCamiseta"  placeholder="Tamanho da camiseta (modelo unisex)" id="camiseta" />
        <div class="required "*ngIf="(FormDadosPessoais.controls['tamanhoCamiseta'].dirty || FormDadosPessoais.controls['tamanhoCamiseta'].touched)">
          <span  *ngIf="FormDadosPessoais.controls.tamanhoCamiseta.errors">
            Tamanho da camiseta obrigatório
          </span>
        </div>
      </div>
      <div class="col-md-4">
        <input type="text" name="estadoCivil" formControlName="estadoCivil" placeholder="Estado Civil" id="estadoCivil" />
        <div class="required "*ngIf="(FormDadosPessoais.controls['estadoCivil'].dirty || FormDadosPessoais.controls['estadoCivil'].touched)">
          <span  *ngIf="FormDadosPessoais.controls.estadoCivil.errors">
            Estado civil obrigatório
          </span>
        </div>
      </div>
    </div>

    <input style="width: 948px;" class="mr-5" type="text"  formControlName="ficouSabendo"  name="comoFicouSabendo" placeholder="Como você ficou sabendo sobre a Exchange do Bem?" id="comoFicouSabendo"/>
    <div class="required "*ngIf="(FormDadosPessoais.controls['ficouSabendo'].dirty || FormDadosPessoais.controls['ficouSabendo'].touched)">
      <span  *ngIf="FormDadosPessoais.controls.ficouSabendo.errors">
        Como ficou sabendo sobre a Exchange é obrigatório
      </span>
    </div>


    <div class="col-md-12 mb-4">
      <div class="col-md-2 mr-3">
        <input type="text" name="nascionalidade"  formControlName="nascionalidade"  placeholder="Nascionalidade" id="nascionalidade" />
        <div class="required "*ngIf="(FormDadosPessoais.controls['nascionalidade'].dirty || FormDadosPessoais.controls['nascionalidade'].touched)">
          <span  *ngIf="FormDadosPessoais.controls.nascionalidade.errors">
            Nascionalidade obrigatório
          </span>
        </div>
      </div>
      <div class="col-md-3 mr-3">
        <input type="text" name="passaporte"  formControlName="passaporte" placeholder="Passaporte" id="passaporte" />
        <div class="required "*ngIf="(FormDadosPessoais.controls['passaporte'].dirty || FormDadosPessoais.controls['passaporte'].touched)">
          <span  *ngIf="FormDadosPessoais.controls.passaporte.errors">
            Passaporte obrigatório
          </span>
        </div>
      </div>
      <div class="col-md-3 mr-3">
        <input type="text" name="validadePassaporte"  formControlName="validadePassaporte" placeholder="Validade (se tiver)" id="validadePassaporte" />
        <div class="required "*ngIf="(FormDadosPessoais.controls['validadePassaporte'].dirty || FormDadosPessoais.controls['validadePassaporte'].touched)">
          <span  *ngIf="FormDadosPessoais.controls.validadePassaporte.errors">
            Validade passaporte obrigatório
          </span>
        </div>
      </div>
      <div class="col-md-3">
        <input type="text" name="paisPassaporte"  formControlName="paisPassaporte" placeholder="País do passaporte (se tiver)" id="paisPassaporte" />
        <div class="required "*ngIf="(FormDadosPessoais.controls['paisPassaporte'].dirty || FormDadosPessoais.controls['paisPassaporte'].touched)">
          <span  *ngIf="FormDadosPessoais.controls.paisPassaporte.errors">
            Pais passaporte obrigatório
          </span>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="col-md-3">
        <input type="text" name="cep" placeholder="CEP" formControlName="cep"  name="cep" id="cep"/>
        <div class="required "*ngIf="(FormDadosPessoais.controls['cep'].dirty || FormDadosPessoais.controls['cep'].touched)">
          <span  *ngIf="FormDadosPessoais.controls.cep.errors">
            CEP obrigatório
          </span>
        </div>
      </div>
      <div class="col-md-1" style="width: 50px;">
        <i class="fa fa-search" aria-hidden="true" onClick="buscaCEP()"></i>
      </div>
        <div class="col-md-8">
          <input type="text" name="cidadeEndereco" formControlName="cidadeEndereco"  placeholder="Cidade" name="cidadeEndereco" id="cidadeEndereco" />
          <div class="required "*ngIf="(FormDadosPessoais.controls['cidadeEndereco'].dirty || FormDadosPessoais.controls['cidadeEndereco'].touched)">
            <span  *ngIf="FormDadosPessoais.controls.cidadeEndereco.errors">
              Cidade obrigatório
            </span>
          </div>
        </div>
     </div>


    <div class="col-md-12">
      <div class="col-md-5 mr-4">
        <input type="text" name="endereco" placeholder="Endereço" formControlName="endereco"  id="endereco" name="endereco" />
        <div class="required "*ngIf="(FormDadosPessoais.controls['endereco'].dirty || FormDadosPessoais.controls['endereco'].touched)">
          <span  *ngIf="FormDadosPessoais.controls.endereco.errors">
            Endereço obrigatório
          </span>
        </div>
      </div>
      <div class="col-md-2 mr-4">
        <input type="text" name="numeroEndereco" placeholder="Numero" id="numeroEndereco" formControlName="numeroEndereco"  name="numeroEndereco" />
        <div class="required "*ngIf="(FormDadosPessoais.controls['numeroEndereco'].dirty || FormDadosPessoais.controls['numeroEndereco'].touched)">
          <span  *ngIf="FormDadosPessoais.controls.numeroEndereco.errors">
            Numero obrigatório
          </span>
        </div>
      </div>
      <div class="col-md-4">
        <input type="text" name="bairroEndereco" placeholder="Bairro" id="bairroEndereco"  formControlName="bairroEndereco" name="bairroEndereco" />
        <div class="required "*ngIf="(FormDadosPessoais.controls['bairroEndereco'].dirty || FormDadosPessoais.controls['bairroEndereco'].touched)">
          <span  *ngIf="FormDadosPessoais.controls.bairroEndereco.errors">
            Bairro obrigatório
          </span>
        </div>
      </div>
    </div>


    <div class="col-md-12">
      <div class="col-md-3 mr-4">
        <input type="text" name="estadoEndereco" placeholder="Estado" id="estadoEndereco"  formControlName="estadoEndereco"  name="estadoEndereco" />
        <div class="required "*ngIf="(FormDadosPessoais.controls['estadoEndereco'].dirty || FormDadosPessoais.controls['estadoEndereco'].touched)">
          <span  *ngIf="FormDadosPessoais.controls.estadoEndereco.errors">
            Estado obrigatório
          </span>
        </div>
      </div>

      <div class="col-md-4 mr-4">
        <input type="text" name="paisEndereco" placeholder="País" id="paisEndereco"  formControlName="paisEndereco" name="paisEndereco" />
        <div class="required "*ngIf="(FormDadosPessoais.controls['paisEndereco'].dirty || FormDadosPessoais.controls['paisEndereco'].touched)">
          <span  *ngIf="FormDadosPessoais.controls.paisEndereco.errors">
            Pais obrigatório
          </span>
        </div>
      </div>

      <div class="col-md-4">
        <input type="text" name="complementoEndereco" placeholder="Complemento" formControlName="complementoEndereco"  id="complementoEndereco" name="complementoEndereco" />
        <!-- <div class="required "*ngIf="(FormDadosPessoais.controls['complementoEndereco'].dirty || FormDadosPessoais.controls['complementoEndereco'].touched)">
          <span  *ngIf="FormDadosPessoais.controls.complementoEndereco.errors">
            Complemento Endereço obrigatório
          </span>
        </div> -->
      </div>
    </div>


    <span class="col-md-11 mb-2">Contato de emergência</span>
  <div class="col-md-4 mr-4">
    <input type="text" name="nomeContatoEmergencia" placeholder="Nome Completo" formControlName="nomeContatoEmergencia"  id="nomeContatoEmergencia" />
    <div class="required "*ngIf="(FormDadosPessoais.controls['nomeContatoEmergencia'].dirty || FormDadosPessoais.controls['nomeContatoEmergencia'].touched)">
      <span  *ngIf="FormDadosPessoais.controls.nomeContatoEmergencia.errors">
        Nome Contato de emergência obrigatório
      </span>
    </div>
  </div>
  <div class="col-md-3 mr-4">
    <input type="text" name="parentescoContatoEmergencia" placeholder="Parentesco" formControlName="parentescoContatoEmergencia" id="parentescoContatoEmergencia" />
    <div class="required "*ngIf="(FormDadosPessoais.controls['parentescoContatoEmergencia'].dirty || FormDadosPessoais.controls['parentescoContatoEmergencia'].touched)">
      <span  *ngIf="FormDadosPessoais.controls.parentescoContatoEmergencia.errors">
        Parentesco de emergência obrigatório
      </span>
    </div>
  </div>
  <div class="col-md-4">
    <input type="text" name="celularContatoEmergencia" placeholder="Celular"  formControlName="celularContatoEmergencia" id="celularContatoEmergencia" />
    <div class="required "*ngIf="(FormDadosPessoais.controls['celularContatoEmergencia'].dirty || FormDadosPessoais.controls['celularContatoEmergencia'].touched)">
      <span  *ngIf="FormDadosPessoais.controls.celularContatoEmergencia.errors">
        Celular de emergência obrigatório
      </span>
    </div>
  </div>



    <input type="button" name="previous" class="previous action-button" value="Previous" />
    <input type="button" name="next" class="next action-button"value="Next" />
    <!-- [disabled]="!FormDadosPessoais.valid"  -->
  </fieldset>


  <fieldset>
    <h2 class="fs-title">INFORMAÇÕES DE SAÚDE</h2>
    <h3 class="fs-subtitle">We will never sell it</h3>
    <div class="col-md-12 mb-5">
    <div class="col-md-5 mr-3">
      <h3>Apresenta algum problema de saúde do qual precisamos estar cientes?*</h3>
      <div class="col-md-7">
        <input type="radio" id="simProblemaSaude" name="ProblemaSaude" value="simProblemaSaude" checked="checked">
        <label for="simProblemaSaude">Sim</label><br>
      </div>
      <div class="col-md-4">
        <input type="radio" id="naoProblemaSaude" name="ProblemaSaude" value="naoProblemaSaude">
        <label for="naoProblemaSaude">Não</label>
      </div>

      <div  id="ProblemaSaude" name="ProblemaSaude" >
        <label class="mt-3">Conte um pouco sobre o seu problema de saúde* :</label>
        <textarea></textarea>
      </div>
    </div>


    <div class="col-md-5">
      <h3>Faz uso de algum medicamento regularmente?*</h3>
      <div class="col-md-7">
        <input type="radio" id="simMedicamento" name="Medicamento" value="simMedicamento" checked="checked">
        <label for="simMedicamento">Sim</label><br>
      </div>
      <div class="col-md-4">
        <input type="radio" id="naoMedicamento" name="Medicamento" value="naoMedicamento">
        <label for="naoMedicamento">Não</label>
      </div>

    <div style="padding-top: 83px; padding-left: 30px;" id="Medicamento" name="Medicamento" >
      <label >Conte um pouco sobre a sua medicação* :</label>
      <textarea></textarea>
    </div>
    </div>


  </div>



  <div class="col-md-12">
    <div class="col-md-5 mr-5">
      <h3>Possui restrição na alimentação?*</h3>
      <div class="col-md-7">
        <input type="radio" id="simrestricaoAlimentacao" name="restricaoAlimentacao" value="simrestricaoAlimentacao" checked="checked">
        <label for="simrestricaoAlimentacao">Sim</label><br>
      </div>
      <div class="col-md-4">
        <input type="radio" id="naorestricaoAlimentacao" name="restricaoAlimentacao" value="naorestricaoAlimentacao">
        <label for="naorestricaoAlimentacao">Não</label>
      </div>

      <div  id="restricaoAlimentacao" name="restricaoAlimentacao" >
        <label class="mt-3">Conte um pouco sobre a sua medicação* :</label>
        <textarea></textarea>
      </div>
    </div>


    <div class="col-md-5">
      <h3>Pratica atividades físicas frequentemente?*</h3>
      <div class="col-md-7">
        <input type="radio" id="simAtividadeFisica" name="AtividadeFisica" value="simAtividadeFisica" checked="checked">
        <label for="simAtividadeFisica">Sim</label><br>
      </div>
      <div class="col-md-4">
        <input type="radio" id="naoAtividadeFisica" name="AtividadeFisica" value="naoAtividadeFisica">
        <label for="naoAtividadeFisica">Não</label>
      </div>

      <div  id="AtividadeFisica" name="AtividadeFisica" >
        <label class="mt-3">Conte um pouco sobre a sua medicação* :</label>
        <textarea></textarea>
    </div>


    </div>

  </div>




    <input type="button" name="previous" class="previous action-button" value="Previous" />
    <input type="button" name="next" class="next action-button"value="Next" />

  </fieldset>


  <fieldset>
    <h2 class="fs-title">QUESTIONÁRIO</h2>
    <h3 class="fs-subtitle">This is step 1</h3>

<div>
  Nos conte um pouco mais sobre você, detalhando sua escolaridade e experiência profissional.*
  <textarea></textarea>
</div>
<div >
  O que faz você querer ser voluntário nesse projeto e como você pode contribuir?*
  <textarea></textarea>
</div>

<div >
  Você já fez algum tipo de trabalho voluntário? Se sim, aonde e o que você fazia?*
  <textarea></textarea>
</div>


<div >
  Você já fez algum intercâmbio (social, cursos de idioma, acadêmico, etc)?
  <textarea></textarea>
</div>
<div>Como você classifica seu nível de inglês nos critérios abaixo?*</div>

<div >Tem conhecimento em alguma outra língua?*
  <textarea></textarea>
</div>

<div >
  Quais são suas principais habilidades e quais atividades você pode realizar?*
  <textarea></textarea>
</div>

<div >
  Tem alguma observação que você queira acrescentar?*
  <textarea></textarea>
</div>

<div >Após o envio do formulário, um dos nossos consultores ligará para você explicando os próximos passos. Qual seria o melhor horário para entrarmos em contato (horário comercial)?*
  <textarea></textarea>
</div>


<div >
  Cupom de desconto
  <input type="text" class="col-md-5">
</div>
<div>
    <input type="button" name="previous" class="previous action-button" value="Previous" />
      <input type="submit" name="submit" class="submit action-button" value="Submit" />
    </div>
  </fieldset>

</form>

</body>
</html>
